# İşletim sistemi dosyaları
.DS_Store
Thumbs.db

# Hassas bilgiler (Şifreler, API Anahtarları)
.env
.env.local

# Editör klasörleri (VS Code ayarları)
.vscode/
.idea/

# Vercel ve diğer deploy araçlarının dosyaları
.vercel/
dist/
build/
node_modules/
